<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_LazyCatalogImages>
            <version>0.2.0</version>
        </Aoe_LazyCatalogImages>
    </modules>
    <global>
        <helpers>
            <Aoe_LazyCatalogImages>
                <class>Aoe_LazyCatalogImages_Helper</class>
            </Aoe_LazyCatalogImages>
            <catalog>
                <rewrite>
                    <image>Aoe_LazyCatalogImages_Helper_Catalog_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <Aoe_LazyCatalogImages>
                <class>Aoe_LazyCatalogImages_Model</class>
            </Aoe_LazyCatalogImages>
        </models>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Aoe_LazyCatalogImages/>
            </modules>
        </suite>
    </phpunit>
</config>
