<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <product_image>
                    <fields>
                        <lci_active translate="label">
                            <label>LCI - Enable</label>
                            <sort_order>10000</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lci_active>
                        <lci_cache translate="label">
                            <label>LCI - Cache Images</label>
                            <sort_order>10010</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lci_cache>
                        <lci_max_age translate="label">
                            <label>LCI - HTTP Response Max-Age</label>
                            <comment>This is the number of seconds passed in the HTTP cache control header for max-age</comment>
                            <sort_order>10030</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lci_max_age>
                        <lci_log_enabled translate="label">
                            <label>LCI - Log Enabled</label>
                            <sort_order>10050</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lci_log_enabled>
                    </fields>
                </product_image>
            </groups>
        </catalog>
        <web>
            <groups>
                <unsecure>
                    <fields>
                        <base_lci_url>
                            <label>LCI - Base Product Image URL</label>
                            <comment>This is the URL that will be prepended to the image file URL (should include 'media/catalog/product'). If empty, defaults to local base product image url. Example: http://example.com/media/catalog/product</comment>
                            <sort_order>1000</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </base_lci_url>
                    </fields>
                </unsecure>
                <secure>
                    <fields>
                        <base_lci_url>
                            <label>LCI - Base Product Image URL</label>
                            <comment>This is the URL that will be prepended to the image file URL (should include 'media/catalog/product'). If empty, defaults to local base product image url. Example: http://example.com/media/catalog/product</comment>
                            <sort_order>1000</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </base_lci_url>
                    </fields>
                </secure>
            </groups>
        </web>
    </sections>
</config>
